<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="com.pil.mapper.memberMapper">
	<select id="login" resultType="MemberVO">
		SELECT userid, userpw, username FROM member WHERE userid = #{userid} AND userpw = #{userpw};
	</select>

	<update id="keepLogin">
		UPDATE member SET sessionKey =#{sessionId}, sessionLimit=#{next} WHERE userid = #{userid};
	</update>

	<select id="checkUserWithSessionKey" resultType="MemberVO">
		SELECT * FROM member WHERE sessionKey = #{value} AND sessionLimit > now();
	</select>
 </mapper>
 