<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.pil.mapper.ReplyMapper">
 	<select id="list" resultType="ReplyVO">
		SELECT * FROM
		reply
		WHERE bno = #{bno}	
		ORDER BY no DESC;
	</select>	

	<insert id="create">
		INSERT INTO
		reply(bno, replytext, replyer)	
		VALUES(#{bno}, #{replytext}, #{replyer});
	</insert>

	<update id="update">
		UPDATE reply
		SET replytext = #{replytext}
		WHERE no = #{no};
	</update>

	<delete id="delete">
		DELETE FROM reply WHERE no = #{no};	
	</delete> 

	<select id="listPage" resultType="ReplyVO">
		SELECT * FROM
		reply
		WHERE bno = #{bno}	
		ORDER BY no DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM reply WHERE bno = #{bno}
	</select>

	<select id="getBno" resultType="int">
		SELECT bno FROM reply WHERE no = #{no};	
	</select>
 </mapper>